services:
  # A Docker web service
  - type: web
    name: telegraphbot
    env: python
    startCommand: python3 bot.py
    buildCommand: pip3 install -U -r requirements.txt
    repo: https://github.com/kamarjahan/TELEGRAPH-MAKER # optional
    region: oregon # optional (defaults to oregon)
    plan: free # optional (defaults to starter)
    branch: main # optional (defaults to master)
    numInstances: 1 # optional (defaults to 1)
    healthCheckPath: /
    envVars:
      - key: TG_BOT_TOKEN
        sync: false
      - key: API_HASH
        sync: false
      - key: APP_ID
        sync: false
      - key: DATABASE_URI
        sync: false
      - key: DATABASE_NAME
        sync: false
      - key: USERNAME
        sync: false

